axicli @ https://cdn.evilmadscientist.com/dl/ad/public/AxiDraw_API.zip#sha256=c29ef0792dc8a2006a3a4abcb306e8d7fa5b93f8ce83c0c781eed226d7eeca24
axidrawinternal @ file:///private/var/folders/kp/q4hw6pd939qfqs0d_52lm7940000gn/T/pip-req-build-0h284eq4/prebuilt_dependencies/axidrawinternal-3.9.6-py2.py3-none-any.whl#sha256=744be32fa64d85adb9dee4d03098af272be4bbf04a0c3dee40b685c3b0d97c4e
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
ink_extensions==2.2.0
lxml==6.0.1
packaging==25.0
plotink==1.14.0
pyclipper==1.3.0.post6
pyserial==3.5
requests==2.32.5
tqdm==4.67.1
urllib3==2.5.0
